.navbar {
  border-radius: 12px !important;
  width: 60%;
  background-color: #db4646;

  position: sticky;
  z-index: 1000;
  margin-top: 50px;
  border-radius: 12px;
}

.menu-btn {
  font-size: 0.8rem;
}
.nav-content {
  max-width: 960px; /* Match the width of your <main> */
  margin: 0 auto;
  padding: 0 1rem; /* Some side padding for smaller screens */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px; /* Or whatever height you want */
}

.main-nav {
  border-radius: 1rem;
  box-shadow: 50 50px 50px #462dab1a;
  margin-top: 2.5rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3rem;
}

.nav-container {
  border-radius: 12px !important;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo a {
  font-size: 1.5rem;
  font-weight: 800;
  color: #0a0f2c;
  text-decoration: none;
}

.nav-links {
  border-radius: 12px !important;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  color: #0a0f2c;
}

.nav-links a {
  text-decoration: none;
  color: #0a0f2c;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0rem !important;
  }

  .nav-icon {
    margin-right: 0.5rem !important;
  }
  .main-nav {
    border-radius: 1rem;
    box-shadow: 50 50px 50px #d5d1e41a;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.4rem;
  }

  .almarpuit {
    padding-top: 0.4rem;
  }
  .lionsclub {
    padding-top: 0.2rem;
  }
}
