*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 { #f2f4fa
  /* ---------- Smooth Scrolling ---------*/
}
html {
  scroll-behavior: auto !important;
}

body {
  background-color: #b7c8ec;
  color: #170c45;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

main {
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: #170c45;
}



footer {
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #e5e7eb;
  text-align: left;
  font-size: 0.875rem;
  color: #0a0f2c;
  margin-top: 0 !important;
}
.footer-row {
  margin-top: 2rem;
}

.about-skills {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  gap: 5rem;
}

.about-skills p,
.skills-column li {
  text-align: left;
}

.about-column,
.skills-column {
  flex: 1 1 45%;
  min-width: 300px;
}
.about-column h2,
.skills-column h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.about-column p,
.skills-column ul {
  font-family: "Inter", sans-serif;

  font-size: 1rem;
  line-height: 1.9;
}

.about-column p {
  text-align: center;
}

.css-olmst0 {
  background-color: #f5f6fa;
}

.css-nzaom9 {
  width: 40%;
}

.cta-box {
  display: flex;
  justify-content: center !important;
}
.clients {
  background-color: #e7e7f1;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.css-yc44wt {
    display: block;
    height: 90px;
    width: 100px;
    object-fit: contain;
    margin-top: -10px;
}

.css-1528fwn {
    display: block;
    height: 60px;
    width: 100px;
    object-fit: contain;
    margin-top: -2px;
}

.css-4d9i3g {
    display: block;
    height: 70px;
    width: 100px;
    object-fit: contain;
    margin-top: -3px;
}

.css-1528fwn {
    display: block;
    height: 50px;
    width: 100px;
    object-fit: contain;
    margin-top: -2px;
}

.cta-green {
  border-radius: 6px;
  height: 55px;
  padding-left: 32px;
  padding-right: 26px;
  font-size: 16px;
  background: #4ccb4c;
  border: 2px solid #58d858;
  box-shadow: 0 15px 40px #a1eba1;

  font-weight: 500;
  margin-right: 0.5rem;
}
.cta-green:hover {
  background: #170c45 !important;
  border: 2px solid #170c45;
  box-shadow: 0 5px 25px #6f8cd3;
  color: #ffffff !important;
}

.cta-white {
  border-radius: 6px;
  height: 55px;
  padding-left: 32px;
  padding-right: 26px;
  font-size: 16px;
  font-weight: 500;
  background: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 13.38px 35.679px #0f082b1a;
  margin-left: 0.5rem;
}

.design-print-section {
  padding-bottom: 6rem;
}

.design-print-section .grid {
  max-width: 1000px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.hero-section {
  background-color: #e7e7f1;
  padding-top: 5rem;
}

.hero-section-clients {
  background-color: #e7e7f1;
  padding-top: 2rem;
}


.homepage-projects-section{
  background-color: #e7e7f1; 
padding-top: 4rem;
   padding-bottom: 10rem;
  
}
.intro-section-serv {
  background-color: #f2f4fa;
  padding-top: 6rem;
}

/*
header {
  margin-top: 1rem;
  margin-left: 8cap;
  margin-right: 20%;
  margin-bottom: 2rem;
  border-radius: 12px;
}
*/

li,
.project-card {
  font-family: "Inter", sans-serif;
}
.link {
  color: #d82a67;
}

.main-header,
.sub-header,
.sub-header2 {
  text-align: center !important;
}

.main-header {
  background-image: linear-gradient(#1f38a6, #170c45);
  color: transparent;
  background-clip: text;
  font-weight: 500 !important;
}



.lets-talk{
  margin-top: 3rem !important;
  color:"#170c45",
  
}


.project-image {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.project-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
  margin-bottom: 0rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.process-section{
  margin-top: "-2rem";

}

.project-card p {
  color: #433f45;
  font-size: 1rem;
}

.section-inner h1 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: -0.5px;
  line-height: 5rem;
}
.section-inner p {
  font-size: 1.1rem;
  color: #6e6f7a;
  font-family: "Inter", sans-serif;
}

.skill-name {
  font-weight: 800;
  color: #cf4374;
}

section {
  padding-bottom: 2rem;

  font-family: "Cal Sans", sans-serif;
  align-items: center;
}
section h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: #170c45;
  text-align: left;
}
section p {
  font-family: "Inter", sans-serif;
}

.section-inner {
  max-width: 1000px;
  margin: 0 auto;
}
.section-inner {
  font-family: Cal Sans, sans-serif;
  border-radius: 12px;
}

.sub-header {
  margin-bottom: 3rem;
}
.sub-header2 {
  margin-bottom: 3rem;
}

.web-dev {
  color:#170c45
}

.web-projects-section,
.design-print-section {
  background-color: #f2f4fa;
  padding-top: 2rem;
   padding-bottom: 5rem;
  
  
}



/* Web Projects 

.web-projects-section,
.design-print-section,
.intro-section {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 3rem 0;
}
*/
.web-projects-section h2,
.design-print-section h2 {
  color: #170c45;
 
}

/* ----------- Tablets View ----------- */
@media 
  (max-device-width: 218px)
  and (max-device-height: 281px) { 

    

}

/* ----------- Mobile View ----------------*/
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    padding-left: 10%;
    border-top: 1px solid #e5e7eb;
    text-align: left;
    font-size: 0.875rem;
    color: #170c45;
  }
}

@media (max-width: 765px) {
  .main-header {
    background-image: linear-gradient(#1f38a6, #170c45);
    color: transparent;
    background-clip: text;
    margin-top: 3rem !important;
    font-weight: 400 !important;
    font-size: 3.2rem !important;
    line-height: 95% !important;
  }
  .grid {
    grid-template-columns: repeat(1fr);
  }

  
  .hero-section-clients {
    background-color: #e7e7f1;
    padding-top: 1rem;
}

    .hero-section {
        background-color: #e7e7f1;
        padding-top: 1rem;
        /* padding-bottom: 2rem; */
        align-items: center;
    }

  .clients {
    background-color: #e7e7f1;
    margin-top: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2rem;
}

  
    .hero-section {
        background-color: #e7e7f1;
        padding-top: 1rem;
        /* padding-bottom: 2rem; */
        align-items: center;
    }


 
  

  
  section {
    padding-bottom: 1rem;
    font-family: "Cal Sans", sans-serif;
    align-items: center;
}



  .intro-section-serv {
  background-color: #f2f4fa;
  padding-top: 4rem;
  padding-bottom: -1rem !important;
}

  /* header {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 12px;
  } */

  .hero-section {
    background-color: #e7e7f1;
    padding-top: 1rem;
    padding-bottom: 2rem;
    align-items: center;
  }

  .css-1528fwn {
    display: block;
    height: 50px;
    width: 100px;
    object-fit: contain;
    margin-top: -2px;
}
  .section-inner {
    margin-top: 0;
    font-family: Cal Sans, sans-serif;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .process-section-inner {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .section-inner h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 200;
    margin-top: 3rem;
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
    text-align: center;
  }

  
    .css-i63vzw-MuiTypography-root {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    padding-top: 3px;
}

  .cta-green {
    border-radius: 8px;
    height: 64px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    background: d22d67;
    border: 2px solid d22d67;
    box-shadow: 0 15px 40px #6bd87880;
    color: white;
    font-weight: 500;
    margin-right: 0.5rem;
    max-width: 60%;
  }

  .css-vxq3sc {
    display: block;
    margin-bottom: 28px !important;
}

.css-ynw6pm-MuiPaper-root-MuiCard-root {
    background-color: #fff;
    color: #170c45;
    margin-bottom: 12px !important;
}
  .cta-green:hover {
    background: #c1bfe7;
    border: 2px solid #c1bfe7;
    box-shadow: 0 5px 25px #9d90d1;
    color: #a09dd4 !important;
  }
  .cta-white {
    border-radius: 6px;
    height: 64px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 500;
    background: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 13.38px 35.679px #0f082b1a;
    margin-left: 0.5rem;
  }
  .web-projects-section,
  .design-print-section {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 1rem;
    margin-top: 1.5rem;
  }

  footer {
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #e5e7eb;
    text-align: left;
    font-size: 0.875rem;
    color: #0a0f2c;
  }

  main {
    max-width: 1000px;
    margin-inline: auto;
  }

  .intro {
    padding-left: 20px;
    padding-right: 20px;
  }
  .skills-column {
    padding-left: 10px;
  }

  .sub-header,
  .sub-header2 {
    font-size: 16px !important;
  }

  .sub-header {
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .process-section{
  margin-top: "-2rem";
margin-bottom: 2.5rem;
}

  .footer-row {
    margin-top: 2rem;
  }

  .homepage-projects-section {
    background-color: #e7e7f1;
    padding-top: 4rem;
    padding-bottom: 5rem;
}
}
